[Desktop Entry]
Encoding=UTF-8
Name=Link to Candidates' Points
Type=Link
URL=https://docs.google.com/spreadsheets/d/15NFNLYjHgionwV1KWgn3VnvcTz4N76C5yUCYZ8SlPwU/edit#gid=353380363
Icon=text-html
